.footer
  background-color: #44536A
  padding-top: 50px
  padding-bottom: var(--sectionPaddingBottom)
  color: $alabaster

  &__container
  &__content
    display: flex
    flex-direction: column
    align-items: flex-start
  &__logo
    width: 150px
  &__data
    display: flex
    flex-direction: column
    align-items: flex-start
  &__link

  &__item
    transition: color 0.3s ease
    &:not(:last-child)
      margin-bottom: 19px
    a
      cursor: pointer


  &__form


